/* #main1{
    justify-content: space-between;
} */

.main{
    width :100%;
    display: flex;
    margin:auto;
    text-align: center;
    justify-content: space-evenly;
    background-color: teal;
  

}
.main1 {
   text-decoration: none;
   color: white;
   font-size: 20px;
}